nav {
  display: flex;
  justify-content: space-between;
}

a {
  display: block;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 400px;
  margin: 50px auto;
}

td, th {
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.uncontrolled-wrapper {
  width: 500px;
  margin: 0 auto;
}

.gender-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.inline-label {
  display: inline;
}

.file-container {
  display: flex;
  justify-content: space-between;
}

.accept-container {
  margin-bottom: 30px;
}

.warning {
  color: red;
}

.countries-label {
  position: relative;
}

.countries-container {
  position: absolute;
  top: 22px;
  max-height: 400px;
  overflow: auto;
  background-color: lightgray;
}

.country:hover {
  background-color: aqua;
  cursor: pointer;
}
